@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind utilities;
@tailwind base;

body {
  background-color:#f8fafc;
  font-family: 'Crimson Text', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

textarea{
  background-color:#f8fafc;
  font-family: 'Crimson Text', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}